html {
    min-height: 100%;
    position: relative;
}

body {
    min-height: 100%;
    padding-bottom: 0;
    line-height: 1.5;
}

.main-container:before {
    display: block;
    content: "";
    position: absolute;
    z-index: -2;
    width: 100%;
    max-width: inherit;
    bottom: 0;
    top: 0;
    background-color: #FFF;
}

.main-container.container,.rtl .main-container.container {
    padding-left: 0;
    padding-right: 0;
}

.main-container.container:before {
    -webkit-box-shadow: 0 0 0 1px rgba(0,0,0,.1);
    box-shadow: 0 0 0 1px rgba(0,0,0,.1);
    width: inherit;
}

@media (max-width:767px) {
    .main-container.container:before {
        -webkit-box-shadow: none;
        box-shadow: none;
        width: 100%;
    }
}

.main-content {
    margin-left: 0;
    min-height: 100%;
    padding: 0;
}

.sidebar+.main-content {
    margin-left: 190px;
}

.page-content {
    background-color: #fff;
    position: relative;
    margin: 0;
    padding: 8px 20px 24px;
}

.page-header {
    margin: 0 0 12px;
    border-bottom: 1px dotted #e2e2e2;
    padding-bottom: 16px;
    padding-top: 7px;
}

.page-header h1 {
    padding: 0;
    margin: 0 8px;
    font-size: 24px;
    font-weight: lighter;
    color: #2679b5;
}

.page-header h1 small {
    margin: 0 6px;
    font-size: 14px;
    font-weight: 400;
    color: #8089a0;
}

.ace-icon {
    text-align: center;
}

a:active,a:focus {
    text-decoration: none;
}

h1 {
    font-size: 32px;
    font-weight: 400;
    font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
}

h1.smaller {
    font-size: 31px;
}

h1.bigger {
    font-size: 33px;
}

h1.block {
    margin-bottom: 16px;
}

h2 {
    font-size: 26px;
    font-weight: 400;
    font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
}

h2.smaller {
    font-size: 25px;
}

h2.bigger {
    font-size: 27px;
}

h2.block {
    margin-bottom: 16px;
}

h3 {
    font-size: 22px;
    font-weight: 400;
    font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
}

h3.smaller {
    font-size: 21px;
}

h3.bigger {
    font-size: 23px;
}

h3.block {
    margin-bottom: 16px;
}

h4 {
    font-size: 18px;
    font-weight: 400;
    font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
}

h4.smaller {
    font-size: 17px;
}

h4.bigger {
    font-size: 19px;
}

h4.block {
    margin-bottom: 16px;
}

h5 {
    font-size: 15px;
    font-weight: 400;
    font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
}

h5.smaller {
    font-size: 14px;
}

h5.bigger {
    font-size: 16px;
}

h5.block {
    margin-bottom: 16px;
}

h6 {
    font-size: 13px;
    font-weight: 400;
    font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
}

h6.smaller {
    font-size: 12px;
}

h6.bigger {
    font-size: 14px;
}

h6.block {
    margin-bottom: 16px;
}

ol,ul {
    margin: 0 0 10px 25px;
    padding: 0;
}

ol.margin-5,ul.margin-5 {
    margin-left: 5px;
}

ol.margin-10,ul.margin-10 {
    margin-left: 10px;
}

ol.margin-15,ul.margin-15 {
    margin-left: 15px;
}

ol.margin-20,ul.margin-20 {
    margin-left: 20px;
}

li>ol,li>ul {
    margin-left: 18px;
}

.list-inline,.list-unstyled {
    margin-left: 0;
}

.list-inline>li>.ace-icon:first-child,.list-unstyled>li>.ace-icon:first-child {
    width: 18px;
    text-align: center;
}

.spaced>li {
    margin-top: 9px;
    margin-bottom: 9px;
}

.spaced2>li {
    margin-top: 15px;
    margin-bottom: 15px;
}

li.divider {
    margin-top: 3px;
    margin-bottom: 3px;
    height: 0;
    font-size: 0;
}

.spaced>li.divider {
    margin-top: 5px;
    margin-bottom: 5px;
}

.spaced2>li.divider {
    margin-top: 8px;
    margin-bottom: 8px;
}

li.divider:before {
    content: "";
    display: inline-block;
}

.blockquote-reverse,blockquote,blockquote.pull-right {
    border-color: #e5eaf1;
}

pre.prettyprint {
    white-space: pre-wrap;
}

.modal-content {
    border-radius: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.modal-footer {
    padding-top: 12px;
    padding-bottom: 14px;
    border-top-color: #e4e9ee;
    -webkit-box-shadow: none;
    box-shadow: none;
    background-color: #eff3f8;
}

.modal-header .close {
    font-size: 32px;
}

.well {
    border-radius: 0;
}

.well h1,.well h2,.well h3,.well h4,.well h5,.well h6 {
    margin-top: 0;
}

.well h1,.well h2,.well h3 {
    line-height: 36px;
}

.alert {
    font-size: 14px;
    border-radius: 0;
}

.alert .close {
    font-size: 16px;
}

.alert-block p+p {
    margin-top: 10px;
}

.pager>li>span,.pagination>li>span {
    border-width: 1px;
    border-radius: 0!important;
}

.pager>li>a,.pagination>li>a {
    border-width: 1px;
    border-color: #d4dfe3;
    border-radius: 0!important;
    color: #2283c5;
    background-color: #fafafa;
    margin: 0 -1px 0 0;
    position: relative;
    z-index: auto;
}

.pager>li>a:hover,.pagination>li>a:hover {
    color: #1c6ca2;
    background-color: #eaeff2;
    border-color: #c1d1d7;
    z-index: 1;
}

.pager>li>a:focus,.pagination>li>a:focus {
    background-color: #eaeef2;
}

.pager>li.disabled>a,.pager>li.disabled>a:hover,.pagination>li.disabled>a,.pagination>li.disabled>a:hover {
    background-color: #f9f9f9;
    border-color: #d9d9d9;
    z-index: auto;
}

.pagination>li.active>a,.pagination>li.active>a:hover {
    background-color: #6faed9;
    border-color: #6faed9;
    color: #fff;
    text-shadow: 0 -1px 0 rgba(0,0,0,.25);
    z-index: 2;
}

.list-group-item {
    border-radius: 0!important;
}

.lighter {
    font-weight: lighter;
}

.bolder {
    font-weight: bolder;
}

.inline {
    display: inline-block!important;
}

.block {
    display: block!important;
}

.align-center,.center {
    text-align: center!important;
}

.align-left {
    text-align: left!important;
}

.align-right {
    text-align: right!important;
}

.middle {
    vertical-align: middle;
}

.align-middle {
    vertical-align: middle!important;
}

.align-top {
    vertical-align: top!important;
}

.align-bottom {
    vertical-align: bottom!important;
}

.pos-rel,.position-relative {
    position: relative;
}

.pos-abs,.position-absolute {
    position: absolute;
}

.no-float {
    float: none!important;
}

.line-height-normal {
    line-height: normal!important;
}

.line-height-0 {
    line-height: 0!important;
}

.line-height-1 {
    line-height: 1!important;
}

.line-height-125 {
    line-height: 1.25!important;
}

.line-height-150 {
    line-height: 1.5!important;
}

.dark {
    color: #333!important;
}

.white {
    color: #fff!important;
}

.red {
    color: #dd5a43!important;
}

.red2 {
    color: #e08374!important;
}

.light-red {
    color: #f77!important;
}

.blue {
    color: #478fca!important;
}

.light-blue {
    color: #93cbf9!important;
}

.green {
    color: #69aa46!important;
}

.light-green {
    color: #b0d877!important;
}

.orange {
    color: #ff892a!important;
}

.orange2 {
    color: #feb902!important;
}

.light-orange {
    color: #fcac6f!important;
}

.purple {
    color: #a069c3!important;
}

.pink {
    color: #c6699f!important;
}

.pink2 {
    color: #d6487e!important;
}

.brown {
    color: brown!important;
}

.grey {
    color: #777!important;
}

.light-grey {
    color: #bbb!important;
}

.bigger-110 {
    font-size: 110%!important;
}

.bigger-120 {
    font-size: 120%!important;
}

.bigger-130 {
    font-size: 130%!important;
}

.bigger-140 {
    font-size: 140%!important;
}

.bigger-150 {
    font-size: 150%!important;
}

.bigger-160 {
    font-size: 160%!important;
}

.bigger-170 {
    font-size: 170%!important;
}

.bigger-180 {
    font-size: 180%!important;
}

.bigger-190 {
    font-size: 190%!important;
}

.bigger-200 {
    font-size: 200%!important;
}

.bigger-210 {
    font-size: 210%!important;
}

.bigger-220 {
    font-size: 220%!important;
}

.bigger-230 {
    font-size: 230%!important;
}

.bigger-240 {
    font-size: 240%!important;
}

.bigger-250 {
    font-size: 250%!important;
}

.bigger-260 {
    font-size: 260%!important;
}

.bigger-270 {
    font-size: 270%!important;
}

.bigger-280 {
    font-size: 280%!important;
}

.bigger-290 {
    font-size: 290%!important;
}

.bigger-300 {
    font-size: 300%!important;
}

.bigger-115 {
    font-size: 115%!important;
}

.bigger-125 {
    font-size: 125%!important;
}

.bigger-175 {
    font-size: 175%!important;
}

.bigger-225 {
    font-size: 225%!important;
}

.bigger-275 {
    font-size: 275%!important;
}

.smaller-90 {
    font-size: 90%!important;
}

.smaller-80 {
    font-size: 80%!important;
}

.smaller-70 {
    font-size: 70%!important;
}

.smaller-60 {
    font-size: 60%!important;
}

.smaller-50 {
    font-size: 50%!important;
}

.smaller-40 {
    font-size: 40%!important;
}

.smaller-30 {
    font-size: 30%!important;
}

.smaller-20 {
    font-size: 20%!important;
}

.smaller-75 {
    font-size: 75%!important;
}

.width-20 {
    width: 20%!important;
}

.width-30 {
    width: 30%!important;
}

.width-35 {
    width: 35%!important;
}

.width-40 {
    width: 40%!important;
}

.width-45 {
    width: 45%!important;
}

.width-50 {
    width: 50%!important;
}

.width-55 {
    width: 55%!important;
}

.width-60 {
    width: 60%!important;
}

.width-65 {
    width: 65%!important;
}

.width-70 {
    width: 70%!important;
}

.width-80 {
    width: 80%!important;
}

.width-85 {
    width: 85%!important;
}

.width-90 {
    width: 90%!important;
}

.width-95 {
    width: 95%!important;
}

.width-100 {
    width: 100%!important;
}

.width-75 {
    width: 75%!important;
}

.width-25 {
    width: 25%!important;
}

.width-auto {
    width: auto!important;
}

.height-auto {
    height: auto!important;
}

.no-padding {
    padding: 0!important;
}

.no-padding-bottom {
    padding-bottom: 0!important;
}

.no-padding-top {
    padding-top: 0!important;
}

.no-padding-left {
    padding-left: 0!important;
}

.no-padding-right {
    padding-right: 0!important;
}

.no-margin {
    margin: 0!important;
}

.no-margin-bottom {
    margin-bottom: 0!important;
}

.no-margin-top {
    margin-top: 0!important;
}

.no-margin-left {
    margin-left: 0!important;
}

.no-margin-right {
    margin-right: 0!important;
}

.no-border {
    border-width: 0;
}

.no-border-bottom {
    border-bottom-width: 0;
}

.no-border-top {
    border-top-width: 0;
}

.no-border-left {
    border-left-width: 0;
}

.no-border-right {
    border-right-width: 0;
}

.no-radius {
    border-radius: 0!important;
}

.no-text-shadow {
    text-shadow: none!important;
}

.hr {
    display: block;
    height: 0;
    overflow: hidden;
    font-size: 0;
    border-width: 1px 0 0;
    border-top: 1px solid #E3E3E3;
    margin: 12px 0;
    border-top-color: rgba(0,0,0,.11);
}

.hr-double {
    height: 3px;
    border-top: 1px solid #E3E3E3;
    border-bottom: 1px solid #E3E3E3;
    border-top-color: rgba(0,0,0,.11);
    border-bottom-color: rgba(0,0,0,.11);
}

.hr-dotted,.hr.dotted {
    border-style: dotted;
}

.hr-32,.hr32 {
    margin: 32px 0;
}

.hr-30,.hr30 {
    margin: 30px 0;
}

.hr-28,.hr28 {
    margin: 28px 0;
}

.hr-26,.hr26 {
    margin: 26px 0;
}

.hr-24,.hr24 {
    margin: 24px 0;
}

.hr-22,.hr22 {
    margin: 22px 0;
}

.hr-20,.hr20 {
    margin: 20px 0;
}

.hr-18,.hr18 {
    margin: 18px 0;
}

.hr-16,.hr16 {
    margin: 16px 0;
}

.hr-14,.hr14 {
    margin: 14px 0;
}

.hr-12,.hr12 {
    margin: 12px 0;
}

.hr-10,.hr10 {
    margin: 10px 0;
}

.hr-8,.hr8 {
    margin: 8px 0;
}

.hr-6,.hr6 {
    margin: 6px 0;
}

.hr-4,.hr4 {
    margin: 4px 0;
}

.hr-2,.hr2 {
    margin: 2px 0;
}

.space {
    max-height: 1px;
    min-height: 1px;
    overflow: hidden;
    margin: 12px 0;
}

[class*=vspace-] {
    display: none;
}

.space-32,[class*=vspace-32] {
    max-height: 1px;
    min-height: 1px;
    overflow: hidden;
    margin: 32px 0 31px;
}

.space-30,[class*=vspace-30] {
    max-height: 1px;
    min-height: 1px;
    overflow: hidden;
    margin: 30px 0 29px;
}

.space-28,[class*=vspace-28] {
    max-height: 1px;
    min-height: 1px;
    overflow: hidden;
    margin: 28px 0 27px;
}

.space-26,[class*=vspace-26] {
    max-height: 1px;
    min-height: 1px;
    overflow: hidden;
    margin: 26px 0 25px;
}

.space-24,[class*=vspace-24] {
    max-height: 1px;
    min-height: 1px;
    overflow: hidden;
    margin: 24px 0 23px;
}

.space-22,[class*=vspace-22] {
    max-height: 1px;
    min-height: 1px;
    overflow: hidden;
    margin: 22px 0 21px;
}

.space-20,[class*=vspace-20] {
    max-height: 1px;
    min-height: 1px;
    overflow: hidden;
    margin: 20px 0 19px;
}

.space-18,[class*=vspace-18] {
    max-height: 1px;
    min-height: 1px;
    overflow: hidden;
    margin: 18px 0 17px;
}

.space-16,[class*=vspace-16] {
    max-height: 1px;
    min-height: 1px;
    overflow: hidden;
    margin: 16px 0 15px;
}

.space-14,[class*=vspace-14] {
    max-height: 1px;
    min-height: 1px;
    overflow: hidden;
    margin: 14px 0 13px;
}

.space-12,[class*=vspace-12] {
    max-height: 1px;
    min-height: 1px;
    overflow: hidden;
    margin: 12px 0 11px;
}

.space-10,[class*=vspace-10] {
    max-height: 1px;
    min-height: 1px;
    overflow: hidden;
    margin: 10px 0 9px;
}

.space-8,[class*=vspace-8] {
    max-height: 1px;
    min-height: 1px;
    overflow: hidden;
    margin: 8px 0 7px;
}

.space-6,[class*=vspace-6] {
    max-height: 1px;
    min-height: 1px;
    overflow: hidden;
    margin: 6px 0 5px;
}

.space-4,[class*=vspace-4] {
    max-height: 1px;
    min-height: 1px;
    overflow: hidden;
    margin: 4px 0 3px;
}

.space-2,[class*=vspace-2] {
    max-height: 1px;
    min-height: 1px;
    overflow: hidden;
    margin: 2px 0 1px;
}

.space-0,[class*=vspace-0] {
    max-height: 1px;
    min-height: 1px;
    overflow: hidden;
    margin: 0;
}

@media only screen and (max-width:479px) {
    [class*=vspace-][class*="-xs"] {
        display: block;
    }
}

@media only screen and (max-width:767px) {
    [class*=vspace-][class*="-sm"] {
        display: block;
    }
}

@media only screen and (max-width:991px) {
    [class*=vspace-][class*="-md"] {
        display: block;
    }
}

@media only screen and (max-width:1199px) {
    [class*=vspace-][class*="-lg"] {
        display: block;
    }
}

.header {
    line-height: 28px;
    margin-bottom: 16px;
    margin-top: 18px;
    padding-bottom: 4px;
    border-bottom: 1px solid #CCC;
}

.header.blue {
    border-bottom-color: #d5e3ef;
}

.header.green {
    border-bottom-color: #cce2c1;
}

.header.purple {
    border-bottom-color: #e0d1ea;
}

.header.orange {
    border-bottom-color: #fdd0ac;
}

.header.orange2 {
    border-bottom-color: #fbd36b;
}

.header.red {
    border-bottom-color: #f3cdc6;
}

.header.grey {
    border-bottom-color: #c3c3c3;
}

.header.pink {
    border-bottom-color: #f2e0eb;
}

.header.pink2 {
    border-bottom-color: #e69eb9;
}

.header.light-blue {
    border-bottom-color: #dceefc;
}

.header.light-red {
    border-bottom-color: #fec5c5;
}

.header.light-green {
    border-bottom-color: #d2e7b5;
}

.header.brown {
    border-bottom-color: #df9393;
}

.header>.ace-icon {
    margin-right: 2px;
}

.action-buttons a {
    margin: 0 3px;
    display: inline-block;
    opacity: .85;
    -webkit-transition: all .1s;
    -o-transition: all .1s;
    transition: all .1s;
}

.action-buttons a:hover {
    text-decoration: none;
    opacity: 1;
    -moz-transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -o-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
}

.navbar {
    margin: 0;
    padding-left: 0;
    padding-right: 0;
    border-width: 0;
    border-radius: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    min-height: 45px;
    background: #438eb9;
}

.navbar .navbar-link,.navbar .navbar-text {
    color: #fff;
}

.navbar .navbar-brand {
    color: #fff;
    font-size: 24px;
    text-shadow: none;
    padding-top: 10px;
    padding-bottom: 10px;
    height: auto;
}

.navbar .navbar-brand:focus,.navbar .navbar-brand:hover {
    color: #fff;
}

@media only screen and (min-width:992px) {
    .navbar-container {
        padding-left: 10px;
        padding-right: 10px;
    }
}

.navbar-container.container {
    padding-left: 0;
    padding-right: 0;
}

.ace-nav {
    height: 100%;
    margin: 0!important;
}

.ace-nav>li {
    line-height: 45px;
    height: 45px;
    border-left: 1px solid #E1E1E1;
    padding: 0;
    position: relative;
    float: left;
}

.ace-nav>li:first-child {
    border-left-width: 0;
}

.ace-nav>li>a {
    background-color: #2e6589;
    color: #FFF;
    display: block;
    line-height: inherit;
    text-align: center;
    height: 100%;
    width: auto;
    min-width: 50px;
    padding: 0 8px;
    position: relative;
}

.ace-nav>li>a>.ace-icon {
    display: inline-block;
    font-size: 16px;
    color: #FFF;
    text-align: center;
    width: 30px;
}

.ace-nav>li>a>.badge {
    position: relative;
    top: -4px;
    left: 2px;
    padding-right: 5px;
    padding-left: 5px;
}

.ace-nav>li.open>a,.ace-nav>li>a:focus,.ace-nav>li>a:hover {
    background-color: #2c5976;
    color: #FFF;
}

.ace-nav>li.grey>a {
    background-color: #555;
}

.ace-nav>li.grey>a:focus,.ace-nav>li.grey>a:hover,.ace-nav>li.open.grey>a {
    background-color: #4b4b4b;
}

.ace-nav>li.purple>a {
    background-color: #892e65;
}

.ace-nav>li.open.purple>a,.ace-nav>li.purple>a:focus,.ace-nav>li.purple>a:hover {
    background-color: #762c59;
}

.ace-nav>li.green>a {
    background-color: #2e8965;
}

.ace-nav>li.green>a:focus,.ace-nav>li.green>a:hover,.ace-nav>li.open.green>a {
    background-color: #2c7659;
}

.ace-nav>li.light-blue>a {
    background-color: #62a8d1;
}

.ace-nav>li.light-blue>a:focus,.ace-nav>li.light-blue>a:hover,.ace-nav>li.open.light-blue>a {
    background-color: #579ec8;
}

.ace-nav>li.light-blue2>a {
    background-color: #42a8e1;
}

.ace-nav>li.light-blue2>a:focus,.ace-nav>li.light-blue2>a:hover,.ace-nav>li.open.light-blue2>a {
    background-color: #359fd9;
}

.ace-nav>li.red>a {
    background-color: #b74635;
}

.ace-nav>li.open.red>a,.ace-nav>li.red>a:focus,.ace-nav>li.red>a:hover {
    background-color: #a34335;
}

.ace-nav>li.light-green>a {
    background-color: #9abc32;
}

.ace-nav>li.light-green>a:focus,.ace-nav>li.light-green>a:hover,.ace-nav>li.open.light-green>a {
    background-color: #8ba832;
}

.ace-nav>li.light-purple>a {
    background-color: #cb6fd7;
}

.ace-nav>li.light-purple>a:focus,.ace-nav>li.light-purple>a:hover,.ace-nav>li.open.light-purple>a {
    background-color: #c263ce;
}

.ace-nav>li.light-orange>a {
    background-color: #f79263;
}

.ace-nav>li.light-orange>a:focus,.ace-nav>li.light-orange>a:hover,.ace-nav>li.open.light-orange>a {
    background-color: #f28653;
}

.ace-nav>li.light-pink>a {
    background-color: #f4dae5;
}

.ace-nav>li.light-pink>a:focus,.ace-nav>li.light-pink>a:hover,.ace-nav>li.open.light-pink>a {
    background-color: #eeccda;
}

.ace-nav>li.dark>a {
    background-color: #404040;
}

.ace-nav>li.dark>a:focus,.ace-nav>li.dark>a:hover,.ace-nav>li.open.dark>a {
    background-color: #363636;
}

.ace-nav>li.white-opaque>a {
    background-color: rgba(255,255,255,.8);
}

.ace-nav>li.open.white-opaque>a,.ace-nav>li.white-opaque>a:focus,.ace-nav>li.white-opaque>a:hover {
    background-color: rgba(245,245,245,.8);
}

.ace-nav>li.dark-opaque>a,.ace-nav>li.dark-opaque>a:focus,.ace-nav>li.dark-opaque>a:hover,.ace-nav>li.open.dark-opaque>a {
    background-color: rgba(0,0,0,.2);
}

.ace-nav>li.transparent>a {
    background-color: transparent;
}

.ace-nav>li.open.transparent>a,.ace-nav>li.transparent>a:focus,.ace-nav>li.transparent>a:hover {
    background-color: rgba(0,0,0,.1);
}

.ace-nav>li.light-10>a {
    background-color: rgba(255,255,255,.1);
}

.ace-nav>li.light-10>a:focus,.ace-nav>li.light-10>a:hover,.ace-nav>li.open.light-10>a {
    background-color: rgba(255,255,255,.2);
}

.ace-nav>li.dark-10>a {
    background-color: rgba(0,0,0,.1);
}

.ace-nav>li.dark-10>a:focus,.ace-nav>li.dark-10>a:hover,.ace-nav>li.open.dark-10>a {
    background-color: rgba(0,0,0,.2);
}

.ace-nav>li.margin-4 {
    margin-left: 4px;
}

.ace-nav>li.margin-3 {
    margin-left: 3px;
}

.ace-nav>li.margin-2 {
    margin-left: 2px;
}

.ace-nav>li.margin-1 {
    margin-left: 1px;
}

.ace-nav>li.no-border {
    border-width: 0!important;
}

.ace-nav>li .dropdown-menu {
    z-index: 1031;
}

.ace-nav .nav-user-photo {
    margin: -4px 8px 0 0;
    border-radius: 100%;
    border: 2px solid #FFF;
    max-width: 80px;
}

.ace-nav li.dropdown-footer a .ace-icon {
    display: inline-block;
    width: 2.0em;
    text-align: center;
}

@media only screen and (max-width:767px) {
    .ace-nav>li:nth-last-child(4)>.dropdown-menu.dropdown-menu-right {
        right: -100px;
    }

    .ace-nav>li:nth-last-child(4)>.dropdown-menu.dropdown-menu-right:after,.ace-nav>li:nth-last-child(4)>.dropdown-menu.dropdown-menu-right:before {
        right: 120px;
    }

    .ace-nav>li:nth-last-child(3)>.dropdown-menu.dropdown-menu-right {
        right: -80px;
    }

    .ace-nav>li:nth-last-child(3)>.dropdown-menu.dropdown-menu-right:after,.ace-nav>li:nth-last-child(3)>.dropdown-menu.dropdown-menu-right:before {
        right: 100px;
    }

    .user-menu.dropdown-close.dropdown-menu-right {
        right: 0!important;
    }
}

@media only screen and (min-width:480px) and (max-width:767px) {
    .navbar.navbar-collapse .ace-nav>li:nth-last-child(2):nth-child(1)>.dropdown-menu.dropdown-menu-right,.navbar.navbar-collapse .ace-nav>li:nth-last-child(2):nth-child(2)>.dropdown-menu.dropdown-menu-right {
        left: auto;
        right: -60px;
    }

    .navbar.navbar-collapse .ace-nav>li:nth-last-child(2):nth-child(1)>.dropdown-menu.dropdown-menu-right:after,.navbar.navbar-collapse .ace-nav>li:nth-last-child(2):nth-child(1)>.dropdown-menu.dropdown-menu-right:before,.navbar.navbar-collapse .ace-nav>li:nth-last-child(2):nth-child(2)>.dropdown-menu.dropdown-menu-right:after,.navbar.navbar-collapse .ace-nav>li:nth-last-child(2):nth-child(2)>.dropdown-menu.dropdown-menu-right:before {
        right: 80px;
        left: auto;
    }
}

@media only screen and (max-width:480px) {
    .ace-nav>li:nth-last-child(4)>.dropdown-menu.dropdown-menu-right {
        right: -120px;
    }

    .ace-nav>li:nth-last-child(4)>.dropdown-menu.dropdown-menu-right:after,.ace-nav>li:nth-last-child(4)>.dropdown-menu.dropdown-menu-right:before {
        right: 140px;
    }

    .ace-nav>li:nth-last-child(3)>.dropdown-menu.dropdown-menu-right {
        right: -90px;
    }

    .ace-nav>li:nth-last-child(3)>.dropdown-menu.dropdown-menu-right:after,.ace-nav>li:nth-last-child(3)>.dropdown-menu.dropdown-menu-right:before {
        right: 110px;
    }

    .ace-nav>li:nth-last-child(2)>.dropdown-menu.dropdown-menu-right {
        right: -50px;
    }

    .ace-nav>li:nth-last-child(2)>.dropdown-menu.dropdown-menu-right:after,.ace-nav>li:nth-last-child(2)>.dropdown-menu.dropdown-menu-right:before {
        right: 70px;
    }
}

@media only screen and (max-width:479px) {
    .ace-nav>li:nth-last-child(4)>.dropdown-menu.dropdown-menu-right {
        left: -10px;
        right: auto;
    }

    .ace-nav>li:nth-last-child(4)>.dropdown-menu.dropdown-menu-right:after,.ace-nav>li:nth-last-child(4)>.dropdown-menu.dropdown-menu-right:before {
        right: auto;
        left: 30px;
    }

    .ace-nav>li:nth-last-child(3)>.dropdown-menu.dropdown-menu-right {
        left: -50px;
        right: auto;
    }

    .ace-nav>li:nth-last-child(3)>.dropdown-menu.dropdown-menu-right:after,.ace-nav>li:nth-last-child(3)>.dropdown-menu.dropdown-menu-right:before {
        left: 75px;
        right: auto;
    }

    .ace-nav>li:nth-last-child(2)>.dropdown-menu.dropdown-menu-right {
        left: -70px;
        right: auto;
    }

    .ace-nav>li:nth-last-child(2)>.dropdown-menu.dropdown-menu-right:after,.ace-nav>li:nth-last-child(2)>.dropdown-menu.dropdown-menu-right:before {
        left: 90px;
        right: auto;
    }
}

@media only screen and (max-width:319px) {
    .ace-nav>li:nth-last-child(2)>.dropdown-menu.dropdown-menu-right {
        left: -110px;
        right: auto;
    }

    .ace-nav>li:nth-last-child(2)>.dropdown-menu.dropdown-menu-right:after,.ace-nav>li:nth-last-child(2)>.dropdown-menu.dropdown-menu-right:before {
        left: 130px;
        right: auto;
    }

    .ace-nav>li:nth-child(2):nth-last-child(2)>.dropdown-menu.dropdown-menu-right {
        left: -85px;
        right: auto;
    }

    .ace-nav>li:nth-child(2):nth-last-child(2)>.dropdown-menu.dropdown-menu-right:after,.ace-nav>li:nth-child(2):nth-last-child(2)>.dropdown-menu.dropdown-menu-right:before {
        left: 105px;
        right: auto;
    }

    .ace-nav>li:nth-child(1):nth-last-child(3)>.dropdown-menu.dropdown-menu-right {
        left: -35px;
        right: auto;
    }

    .ace-nav>li:nth-child(1):nth-last-child(3)>.dropdown-menu.dropdown-menu-right:after,.ace-nav>li:nth-child(1):nth-last-child(3)>.dropdown-menu.dropdown-menu-right:before {
        left: 55px;
        right: auto;
    }

    .ace-nav>li:nth-child(1):nth-last-child(2)>.dropdown-menu.dropdown-menu-right {
        left: -60px;
        right: auto;
    }

    .ace-nav>li:nth-child(1):nth-last-child(2)>.dropdown-menu.dropdown-menu-right:after,.ace-nav>li:nth-child(1):nth-last-child(2)>.dropdown-menu.dropdown-menu-right:before {
        left: 75px;
        right: auto;
    }
}

@media only screen and (max-width:479px) {
    .navbar:not(.navbar-collapse) .navbar-header {
        float: none!important;
        display: block;
    }

    .navbar:not(.navbar-collapse) .ace-nav {
        display: block;
        float: none!important;
        text-align: center;
        background-color: rgba(0,0,0,.15);
        border: 1px solid rgba(0,0,0,.1);
        border-width: 1px 0 0;
        letter-spacing: -3px;
    }

    .navbar:not(.navbar-collapse) .ace-nav>li {
        display: inline-block;
        float: none!important;
        text-align: left;
        letter-spacing: normal;
    }

    .navbar:not(.navbar-collapse) .ace-nav>li:first-child {
        border-left: 1px solid rgba(255,255,255,.4);
    }

    .navbar:not(.navbar-collapse) .ace-nav>li:last-child {
        border-right: 1px solid rgba(255,255,255,.4);
    }
}

@media only screen and (max-width:319px) {
    .ace-nav>li>a {
        padding: 0 5px!important;
    }
}

.user-menu>li>a {
    padding: 4px 12px;
}

.user-menu>li>a>.ace-icon {
    margin-right: 6px;
    font-size: 120%;
}

.user-info {
    max-width: 180px;
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-align: left;
    vertical-align: top;
    line-height: 15px;
    position: relative;
    top: 6px;
}

.user-info small {
    display: block;
}

@media (min-width:480px) and (max-width:540px),(max-width:360px) {
    .navbar:not(.navbar-collapse) .navbar-buttons .user-menu {
        padding-top: 42px!important;
    }

    .navbar:not(.navbar-collapse) .navbar-buttons .nav-user-photo {
        margin-right: 0;
    }

    .navbar:not(.navbar-collapse) .navbar-buttons .user-info {
        position: absolute!important;
        margin-top: 40px;
        margin-left: 1px;
        right: 2px;
        z-index: 1032;
        color: #777;
        font-size: 14px;
        width: 156px;
        max-width: 156px;
        padding-left: 8px;
        padding-right: 8px;
        height: 32px;
        line-height: 26px!important;
        display: none;
        border-bottom: 1px solid #E5E5E5;
        text-align: center;
        vertical-align: none;
        cursor: text;
    }

    .navbar:not(.navbar-collapse) .navbar-buttons .user-info>small {
        display: inline;
        opacity: 1;
    }

    li.open .user-info {
        display: inline-block!important;
    }
}

@media (max-width:360px) {
    .navbar.navbar-collapse .navbar-buttons .user-menu {
        padding-top: 42px!important;
    }

    .navbar.navbar-collapse .navbar-buttons .nav-user-photo {
        margin-right: 0;
    }

    .navbar.navbar-collapse .navbar-buttons .user-info {
        position: absolute!important;
        margin-top: 40px;
        margin-left: 1px;
        right: 2px;
        z-index: 1032;
        color: #777;
        font-size: 14px;
        width: 156px;
        max-width: 156px;
        padding-left: 8px;
        padding-right: 8px;
        height: 32px;
        line-height: 26px!important;
        display: none;
        border-bottom: 1px solid #E5E5E5;
        text-align: center;
        vertical-align: none;
        cursor: text;
    }

    .navbar.navbar-collapse .navbar-buttons .user-info>small {
        display: inline;
        opacity: 1;
    }

    li.open .user-info {
        display: inline-block!important;
        right: 2px;
    }
}

@media (min-width:992px) {
    .user-min .user-menu {
        padding-top: 42px!important;
    }

    .user-min .nav-user-photo {
        margin-right: 0;
    }

    .user-min .user-info {
        position: absolute!important;
        margin-top: 40px;
        margin-left: 1px;
        z-index: 1032;
        color: #777;
        font-size: 14px;
        width: 156px;
        max-width: 156px;
        padding-left: 8px;
        padding-right: 8px;
        height: 32px;
        line-height: 26px!important;
        display: none;
        border-bottom: 1px solid #E5E5E5;
        text-align: center;
        vertical-align: none;
        cursor: text;
    }

    .user-min .user-info>small {
        display: inline;
        opacity: 1;
    }

    .user-min .user-info {
        right: -3px;
    }

    .user-min.open .user-info {
        display: inline-block!important;
    }
}

@media only screen and (max-width:991px) {
    .navbar.navbar-collapse {
        max-height: none;
    }

    .navbar .navbar-collapse,.navbar .navbar-header {
        margin-left: 0!important;
        margin-right: 0!important;
    }

    .navbar.navbar-collapse .navbar-header {
        float: none!important;
        min-height: 45px;
    }

    .navbar.navbar-collapse .navbar-buttons {
        min-height: 0;
        padding-left: 0;
        padding-right: 0;
        border: 1px solid rgba(255,255,255,.4);
        border-width: 1px 0 0;
        width: 100%;
    }

    .navbar.navbar-collapse .navbar-buttons.in {
        overflow: visible!important;
    }

    .navbar.navbar-collapse .navbar-buttons>.ace-nav {
        display: block;
        float: none!important;
        text-align: center;
        background-color: transparent!important;
        border-width: 0;
        letter-spacing: -3px;
    }

    .navbar.navbar-collapse .navbar-buttons>.ace-nav>li {
        display: inline-block;
        float: none!important;
        text-align: left;
        letter-spacing: normal;
    }

    .navbar.navbar-collapse .navbar-buttons>.ace-nav>li:first-child {
        border-left: 1px solid rgba(255,255,255,.4);
    }

    .navbar.navbar-collapse .navbar-buttons>.ace-nav>li:last-child {
        border-right: 1px solid rgba(255,255,255,.4);
    }
}

.container-fluid>.navbar-buttons,.container>.navbar-buttons {
    padding-right: 0!important;
}

@media only screen and (max-height:400px) {
    .navbar-fixed-top .navbar-collapse {
        max-height: 280px;
    }
}

@media only screen and (max-height:360px) {
    .navbar-fixed-top .navbar-collapse {
        max-height: 240px;
    }
}

@media only screen and (max-height:320px) {
    .navbar-fixed-top .navbar-collapse {
        max-height: 200px;
    }
}

@media only screen and (max-height:280px) {
    .navbar-fixed-top .navbar-collapse {
        max-height: 160px;
    }
}

@media only screen and (max-height:240px) {
    .navbar-fixed-top .navbar-collapse {
        max-height: 120px;
    }
}

.navbar .navbar-nav>li {
    border: 1px solid rgba(0,0,0,.2);
    border-width: 0 1px 0 0;
}

.navbar .navbar-nav>li:first-child {
    border-width: 0 1px;
}

.navbar .navbar-nav>li>a {
    padding-top: 12px;
    padding-bottom: 11px;
    height: 45px;
    background-color: transparent;
    font-size: 13px;
    color: #fff;
    text-shadow: 0 1px 0 rgba(0,0,0,.25);
}

.navbar .navbar-nav>li.open>a,.navbar .navbar-nav>li>a:focus,.navbar .navbar-nav>li>a:hover {
    background-color: rgba(0,0,0,.1)!important;
    color: #fff!important;
}

.navbar .navbar-nav>li>.dropdown-menu>li>a {
    line-height: 2;
}

.navbar-nav .dropdown-menu>li>a>.ace-icon {
    display: inline-block;
    width: 20px;
}

.navbar-nav>li>.dropdown-menu {
    z-index: 1033;
}

@media only screen and (max-width:991px) {
    .navbar.navbar-collapse .navbar-menu {
        float: none!important;
        clear: both;
    }

    .navbar.navbar-collapse .navbar-menu .dropdown-menu:after,.navbar.navbar-collapse .navbar-menu .dropdown-menu:before {
        display: none!important;
    }

    .navbar .navbar-nav {
        margin: 0 -6px;
    }

    .navbar .navbar-nav>li,.navbar .navbar-nav>li:first-child {
        border-width: 1px 0 0;
    }

    .navbar .navbar-nav .dropdown-menu {
        float: none;
        position: relative;
        background-color: transparent;
        box-shadow: none;
        border-width: 0;
    }

    .navbar .navbar-nav .dropdown-menu>li>a {
        color: #FFF!important;
    }

    .navbar .navbar-nav .dropdown-menu>li>a:hover {
        background-color: rgba(0,0,0,.07)!important;
    }

    .navbar .navbar-nav .dropdown-menu>li>a>.ace-icon {
        color: #FFF!important;
    }

    .navbar .navbar-nav .dropdown-hover>.dropdown-menu {
        left: 32px!important;
        right: auto!important;
        top: auto!important;
        width: 80%!important;
        width: calc(100% - 32px);
    }
}

.navbar-form.form-search {
    margin-top: 9px;
    margin-bottom: 0;
}

.navbar-form.form-search .form-group {
    margin-bottom: 0;
}

.navbar-form.form-search input[type=text] {
    width: 100px;
}

.navbar-form input[type=text] {
    font-size: 13px;
    line-height: 1.4;
    padding-top: 4px;
    padding-bottom: 4px;
    border-width: 0;
}

@media only screen and (max-width:991px) {
    .navbar-form .form-group {
        display: inline-block;
        width: 50%;
        margin-bottom: 0;
        vertical-align: middle;
    }

    .navbar-form.form-search input[type=text] {
        width: 100%;
    }

    .navbar-nav+.navbar-form {
        margin-top: 0;
    }

    .navbar .navbar-collapse,.navbar .navbar-form {
        border-color: rgba(255,255,255,.4);
    }

    .navbar .navbar-nav>li:first-child {
        border-top-width: 0;
    }
}

@media only screen and (max-width:480px) {
    .navbar-form .form-group {
        width: 80%;
    }
}

.navbar-fixed-bottom .navbar-collapse,.navbar-fixed-top .navbar-collapse,.navbar-static-top .navbar-collapse {
    padding-left: 12px;
    padding-right: 12px;
}

@media only screen and (min-width:768px) and (max-width:991px) {
    .navbar.navbar-collapse {
        background-color: transparent;
    }

    .navbar.navbar-collapse:before {
        background: #438eb9;
        content: "";
        display: block;
        position: absolute;
        min-height: inherit;
        left: 0;
        right: 0;
        top: 0;
        z-index: -1;
        border-radius: inherit;
    }

    .navbar.navbar-collapse .navbar-container {
        background-color: #438eb9;
    }
}

.navbar .navbar-toggle {
    border: 1px solid transparent;
    width: 40px;
    height: 35px;
    line-height: 0;
    padding: 0 0 1px;
    text-align: center;
}

.navbar .navbar-toggle.pull-right {
    margin: 5px 6px 4px 0;
}

.navbar .navbar-toggle.pull-left {
    margin: 5px 0 4px 6px;
}

.navbar .navbar-toggle:active {
    top: 1px;
}

.navbar .navbar-toggle.navbar-toggle-img {
    width: auto;
    height: auto;
    overflow: hidden;
    padding: 0;
    border-width: 0;
}

.navbar .navbar-toggle.navbar-toggle-img>img {
    border-radius: inherit;
    max-height: 35px;
    border-width: 0;
}

.navbar .navbar-toggle .icon-bar {
    background-color: #FFF;
    border-radius: 0;
    width: 24px;
    margin-left: 7px;
}

.sidebar {
    width: 190px;
    float: left;
    position: static;
    padding-left: 0;
    padding-right: 0;
}

.sidebar:before {
    content: "";
    display: block;
    width: inherit;
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: -1;
    background-color: inherit;
    border-style: inherit;
    border-color: inherit;
    border-width: inherit;
}

.nav-list {
    margin: 0;
    padding: 0;
    list-style: none;
}

.nav-list .nav-header,.nav-list>li,.nav-list>li>a {
    margin: 0;
}

.nav-list li>a:focus {
    outline: 0;
}

.nav-list>li {
    display: block;
    position: relative;
    float: none;
    padding: 0;
    border-style: solid;
    border-width: 1px 0 0;
}

.nav-list>li:last-child {
    border-bottom-width: 1px;
}

.nav-list>li.active>a {
    font-weight: 700;
}

.nav-list>li>a {
    display: block;
    height: 39px;
    line-height: 17px;
    padding-left: 7px;
    text-shadow: none!important;
    font-size: 13px;
    text-decoration: none;
}

.nav-list>li>a>.menu-icon {
    display: inline-block;
    min-width: 30px;
    margin-right: 2px;
    vertical-align: sub;
    text-align: center;
    font-size: 18px;
    font-weight: 400;
}

.nav-list>li:before {
    display: none;
    content: "";
    position: absolute;
    top: -1px;
    left: 0;
    z-index: 1;
    height: 41px;
    width: 3px;
    max-width: 3px;
    overflow: hidden;
    background-color: #629cc9;
}

@media only screen and (min-width:992px) {
    .main-container.container .sidebar:not(.h-sidebar) .nav-list>li:before {
        left: -2px;
    }
}

.nav-list>li:hover:before {
    display: block;
}

.nav-list>li a>.arrow {
    display: block;
    width: 14px!important;
    height: 14px;
    line-height: 14px;
    text-shadow: none;
    font-size: 18px;
    position: absolute;
    right: 10px;
    top: 12px;
    padding: 0;
    text-align: center;
}

.nav-list>li.separator {
    height: 3px;
    background-color: transparent;
    position: static;
    margin: 1px 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.nav-list>li.active .submenu {
    display: block;
}

.nav-list>li .submenu {
    display: none;
    list-style: none;
    margin: 0;
    padding: 0;
    line-height: 1.5;
    position: relative;
}

.nav-list>li .submenu>li {
    margin-left: 0;
    position: relative;
}

.nav-list>li .submenu>li>a {
    display: block;
    position: relative;
    padding: 7px 0 9px 37px;
    margin: 0;
    border-top-width: 1px;
    border-top-style: dotted;
}

.nav-list>li .submenu>li>a:hover {
    text-decoration: none;
}

.nav-list>li .submenu>li a>.menu-icon {
    display: none;
    font-size: 12px;
    font-weight: 400;
    width: 18px;
    height: auto;
    line-height: 12px;
    text-align: center;
    position: absolute;
    left: 10px;
    top: 11px;
    z-index: 1;
    background-color: inherit;
}

.nav-list>li .submenu>li.active>a>.menu-icon,.nav-list>li .submenu>li:hover>a>.menu-icon {
    display: inline-block;
}

.nav-list>li>.submenu {
    border-top: 1px solid;
}

.nav-list>li>.submenu>li:before {
    content: "";
    display: block;
    width: 7px;
    position: absolute;
    z-index: 1;
    left: 20px;
    top: 17px;
    border: 1px dotted;
    border-width: 1px 0 0;
}

.nav-list>li>.submenu:before {
    content: "";
    display: block;
    position: absolute;
    z-index: 1;
    left: 18px;
    top: 0;
    bottom: 0;
    border: 1px dotted;
    border-width: 0 0 0 1px;
}

.nav-list li.active>a>.arrow,.nav-list li.open>a>.arrow,.nav-list li:hover>a>.arrow {
    color: inherit;
}

.nav-list>li>a>.menu-icon,no_such_element:-o-prefocus {
    vertical-align: middle;
}

.nav-list>li>.submenu li>.submenu {
    display: none;
}

.nav-list>li>.submenu li.active>.submenu {
    display: block;
}

.nav-list>li>.submenu a>.arrow {
    right: 10px;
    top: 10px;
    font-size: 16px;
}

.nav-list>li>.submenu>li:first-child>a {
    border-top-width: 0;
}

.nav-list>li>.submenu li>.submenu>li {
    line-height: 18px;
}

.nav-list>li>.submenu li>.submenu>li:before {
    display: none;
}

.nav-list>li>.submenu li>.submenu>li>a {
    margin-left: 20px;
    padding-left: 22px;
}

.nav-list>li>.submenu li>.submenu>li>.submenu>li>a {
    margin-left: 20px;
    padding-left: 38px;
}

.nav-list>li>.submenu li